@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Kiwi+Maru:wght@300&display=swap');
body {
    font-family: 'Kiwi Maru', 'Nico Moji','Arial', sans-serif;
    background-color: #64565e;
    color: #FFE2B5;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px #333;
    background-color: #BCAAA4;
    border-radius: 12px;
}

#countdownArea {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background-color: #F4E4BC
    ;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#controls {
    background-color: #D1C5C1
    ;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#displayWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preText {
    font-size: 18px;
}

#displayTime {
    font-size: 36px;
}

#formatOptions {
    margin-top: 20px;
}

input[type="text"],
input[type="radio"],
label {
    margin-top: 10px;
}

#currentTime {
    font-size: 12px;
    color: #ccc;  
}

#timeLeft{
    font-weight: bold;
}

input[type="radio"]{
	display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 12px 5px;
    border-right: 1px solid #abb2b7;
    background: #c3c4bf; /*F6E1DE */
    color: #C1B2B4;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
label:first-of-type {
    border-radius: 3px 0 0 3px;
    border-right: 0;
}
label:last-of-type {
    border-radius: 0 3px 3px 0;
    border-right: 0;
}
input[type="radio"]:checked + label {
	background-color: #639E94;
	color: #F6E1DE;
    /* なんかのアクセントA58AAB */
}
#formatOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputdate {
    display: inline-block;

    text-align: center;
    position: relative;
    width: 50%;
}
.input {
    font-family: 'Kiwi Maru';
    text-align: center;
    padding: .5rem 0;
    width: 50%;
    outline: 0;
    border: transparent;
    border-bottom: 1px solid #F6E1DE;
    background-color: transparent;
    color: #495057;
    font-weight: 400;
    line-height: 1.4rem;
    box-sizing: border-box;
    appearance: none;
}
.input+span {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #B4A0BA;
    transition: .3s;
    transform: translateX(-50%);
}
.input:focus+span {
width: 50%;
}